# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


MONGO_DB=
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=
#MONGO_DB_URI=
DATABASE_URL=

# GITHUB
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# CLOUDINARY
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=


# NEXT AUTH
## GENERATE SECURE KEY VIA node crypto module
## - Step 1: Go to CMD and type node
## - Step 2: require('crypto').randomBytes(64).toString('hex')
NEXT_AUTH_SECRET=